/****************
***** reset *****
****************/

* {
    margin: 0%;
    padding: 0%;
}

/****************
*** variables ***
****************/

:root {
    --darkBlue: #2C5784;
    --black: #262322;
    --white: #FFF9FB
}

/****************
**** general ****
****************/

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--black);

}

main {
    width: 80vw;
    margin: 10vh 0;
    height: 80vh;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: rgba(77, 76, 76, 0.697);
}

::-webkit-scrollbar-thumb {
    background: var(--black)
}


/****************
****** nav ******
****************/

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 10vh 5vw;
    width: 5vw;
    background-color: var(--darkBlue);
}

div.roomLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    direction: rtl;
    padding: 0 5vw;
    height: 60vh;
}


nav a {
    padding: 3rem 0;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20pt;
}

.activePage {
    background-color: var(--black);
    color: var(--white);
    padding: 1rem 2rem;
    margin: 2rem 1rem;
    border-radius: 4rem;

}

/****************
****** main *****
****************/

h1.greetingTitle {
    color: var(--white);
    text-align: center;
    margin-top: 30vh;
    font-size: 50pt;
}

/********************
****** roomData *****
*********************/

div.dataAverages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    margin: 0 5vw;
}

div.noiseLevelNumbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem 6rem;
    border-radius: 2rem;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--white);
}

div.noiseLevelNumbers h1 {
    padding-top: 2rem;
    font-weight: bold;
    font-size: 30pt;
}

div.dataGraph {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 55vh;
    margin: 5vh 5vw;
    border-radius: 2rem;
    box-shadow: rgb(0 0 0 / 75%) 5px 5px 16px 0px;
    background-color: var(--white);
    align-items: center;

}

div.graphOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.graphOptions a {
    padding: 0 6rem;
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
    font-size: 15pt;
    border-bottom: var(--black) solid 1px;
    padding: 5.45vh;
    width: 10vw;
    text-align: center;
}

div.graphOptions a:last-child {
    border: none;
}

div.graphOptions a:hover {
    background-color: rgba(197, 197, 197, 0.656)
}

.chartContainer {
    width: 80% !important;
    height: 95% !important;
}

/*****************
****** login *****
*****************/

form.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13vw;
    margin: 25vh 32vw;
    padding: 5rem;
    background-color: var(--white);
    border-radius: 4rem;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
}


form.loginForm input {
    width: 10rem;
    height: 2rem;
    padding: .5rem 3rem;
    border-radius: 4rem;
    margin: 2rem 0 0;
    background-color: var(--black);
    color: var(--white);


}

form.loginForm button {
    width: 7vw;
    height: 2rem;
    margin-top: 2rem;
    background-color: var(--black);
    color: var(--white);
    border-radius: 4rem;

}

form.loginForm h1 {
    align-self: flex-start;
    color: var(--black);
}

/*********************
****** adminPage *****
*********************/

div#adminPageContainer {
    margin: 10vh 15vw 0 15vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 4rem;
    -webkit-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
}

div.addRoom {
    margin: 5rem 0 2rem 5rem;
}

form#addRoomForm {
    margin-top: 2rem;

}

form#addRoomForm button {
    margin: 1rem 0;
    align-self: center;
    width: 10rem;
    height: 4rem;
    border-radius: 4rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 15pt;

}

form#addRoomForm input {
    width: 15rem;
    height: 4rem;
    padding: 0 2.5rem;
    border-radius: 4rem;
    color: var(--white);
    background-color: var(--black);
    font-size: 15pt;
}

div.deleteRoom {
    margin: 1rem 0 5rem 5rem;
}

div#roomsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 42vw;
    height: 32vh;
    overflow: auto;
    align-items: flex-start;
    align-content: flex-start;

}

div#roomsContainer div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    width: 12rem;
    padding: 1rem 1.5rem;
    background-color: var(--black);
    border-radius: 4rem;
    margin: 1rem 1rem 1rem 0;

}

div#roomsContainer div h2 {
    color: var(--white)
}

div#roomsContainer div button {
    padding: 1rem 1.25rem;
    border-radius: 100rem;
    background-color: var(--white);
    color: var(--black);
    font-weight: bold;
}